/************************
* CSS GLOBAL
************************/
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

a {
  color: inherit;
}

h1,
h2 {
  font-family: "Amatic SC";
}

h2 {
  font-size: 30px;
}

p,
li {
  line-height: 180%;
}

ul {
  list-style: none;
  padding-left: 0;
}

/************************
* CSS PAR SECTION
************************/
/* header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/lyon.webp);
  background-position: center;
  background-size: cover;
  padding: 150px;
  color: white;
  text-align: center;
}

header h1 {
  font-size: 70px;
  line-height: 100%;
  margin-bottom: 20px;
}

/* introduction */
main section#introduction {
  display: flex;
  align-items: center;
  padding: 2em 0;
}

main section#introduction div {
  margin: 0 2em;
}

main section#introduction img {
  width: 350px;
  margin: 0 2em;
}

/* Plats Célèbres */
main section#dishes {
  text-align: center;
}

main section#dishes ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main section#dishes ul li {
  width: 25%;
  min-width: 250px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

main section#dishes h3 {
  font-size: 24px;
  margin-top: 0;
}

main section#dishes img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

/* Restaurants */
main section#restaurants h2 {
  text-align: center;
}

main section#restaurants ul {
  display: flex;
  text-align: center;
}

main section#restaurants ul li {
  padding: 1em 5em;
  text-align: center;
}

main section#restaurants ul li img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-contact h3,
.footer-social h3 {
  font-size: 18px;
}

.footer-contact p,
.footer-social a {
  font-size: 14px;
}

.footer-social a {
  margin-top: 5px;
  color: white;
  text-decoration: none;
}

.footer-bottom {
  background-color: #222;
  text-align: center;
  padding: 10px 0;
}

/*---------------------- MEDIA QUERIES ------------------------*/

@media (max-width: 768px) {

  /*---------------------- INTRODUCTION ------------------------*/
  main section#introduction {
    flex-direction: column;
    text-align: center;
  }

  /*---------------------- RESTAURANTS ------------------------*/
  main section#restaurants ul {
    flex-direction: column;
  }
}